@import "custom.css";/* make top-right buttons smaller */
#browser.win.win10 .window-buttongroup button {
	width: 30px;
}

/* remove tab padding */
#tabs-container.top {
	padding-top: 0 !important;
	padding-right: 95px !important;
}

.trash {
	padding-left: 50px;
}

 /* always show tabs */
 #tabs-container.none {
 	display: flex !important;
 }

/* hide address bar by default **/
.bookmark-bar {
	height: 0px;
	position: fixed;
	width: 100%;
	opacity: 0;
	z-index: 10;
	overflow: hidden;
	transition: height 0s linear .7s, .1s opacity .6s;
}

/** reveal address bar on hover **/
#header:hover ~ #main .bookmark-bar, .bookmark-bar:hover,
  .bookmark-bar:focus-within {
	height: 34px;
	opacity: 1;
	transition: height 0s linear .4s, .1s opacity .4s;
}

.bookmark-bar:focus-within {
	transition: none;
}

.bookmark-bar-top .bookmark-bar {
	border-bottom-width: 0;
}
